body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffccf0;
  }
  
  header {
    background-color: #64ffea;
    color: #050000;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: rgb(8, 0, 0);
    text-decoration: none;
  }
  
  button {
    background-color: #e253ff;
    color: rgb(10, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  